# Python environment & caches
__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.egg-info/
dist/
build/
.cache/

# Secrets and Local Config
web/.env
.env

# Media output test files
*.mp4
*.mkv
*.webm
*.mov
*.mp3
*.flac
*.wav
*.m4a
*.opus
*.aac
*.webp
*.jpg
*.jpeg
*.png
*.info.json

# IDEs
.vscode/
.idea/

# OS System Files
.DS_Store
Thumbs.db